In [8]:
# Variable rules


- Allowed char are A-Z , a-z , 0-9 , _
- Not allowed char are special char
- You cannot start with numbers
- You cannot use a reserved word ( keyword)
- It is case sensitive

In [14]:
pythonSQL123 = 100

In [15]:
True = 100

SyntaxError: cannot assign to True (1488504101.py, line 1)

In [17]:
a = 100

print(A)

NameError: name 'A' is not defined

In [16]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
python_123 - valid
python-messi - invalid
messi_ronaldo - valid
10messi - invalid
7neymar - invaild
try  - invalid
finally  - invalid
true  - valid
False - invalid
global - invalid
pass - invalid
If  - valid
1234abc  - invalid
python%learnbay = invalid 
dATAScience - valid

# Data types

1. fundamental data types - basic data types
- int - Any value without a decimal point eg - -82934 , 23892 , 0
- float - Any value with a decimal point eg - -82934.543 , 23892.65 , 0.0
- complex - Any number that can be represented in form of a+bj , where a is the real number and b is the imaginary number
- string - Anything written inside '..' , ".." , '''..''' , """.."""
- bool - True / False
- None


2. derived data types - derived from the basic data types
- List
- tuple
- set
- dict

In [50]:
a=0

print(a , type(a))

0 <class 'int'>

In [30]:
a = 10.0


print(a , type(a))

10.0 <class 'float'>

In [33]:
a = 10+6j


print(a , type(a))
print(a.real)
print(a.imag)

(10+6j) <class 'complex'>
10.0
6.0

In [34]:
a = 10


print(a , type(a))

10 <class 'int'>

In [35]:
a = '10'


print(a , type(a))

10 <class 'str'>

In [37]:
a = 'This is pythons class'


print(a , type(a))

this is pythons class <class 'str'>

In [38]:
a = 'This is python's class'


print(a , type(a))

SyntaxError: invalid syntax (2324368872.py, line 1)

In [39]:
a = "This is python's class"


print(a , type(a))

This is python's class <class 'str'>

In [40]:
a = "This 
is 
python's 
class"


print(a , type(a))

SyntaxError: EOL while scanning string literal (1616020889.py, line 1)

In [41]:
a = '''This 
is 
python's 
class'''


print(a , type(a))

This
is
python's
class <class 'str'>

In [42]:
a = """This 
is 
python's 
class"""


print(a , type(a))

This
is
python's
class <class 'str'>

In [43]:
a = True


print(a , type(a))

True <class 'bool'>

In [44]:
a = False


print(a , type(a))

False <class 'bool'>

In [45]:
a = None


print(a , type(a))

None <class 'NoneType'>

In [ ]:
    enp_name     emp_salary
    
    
1    abc           523234
2    pqr           None
3    None          3894324

# List

- Anything that is written inside [] and each elements are seperated by ,
- Mutable

In [51]:
a = [1,2,3,4,54,65]

print(a , type(a))

[1, 2, 3, 4, 54, 65] <class 'list'>

In [55]:
a = [1,2,3,4,54,65]

a[0] = 9999


a

[9999, 2, 3, 4, 54, 65]

# Tuple 
- Anything that is written inside () and each elements are seperated by ,
- Immutable

In [53]:
a = (1,2,3,4,54,65)

print(a , type(a))

(1, 2, 3, 4, 54, 65) <class 'tuple'>

In [56]:
a = (1,2,3,4,54,65)

a[0] = 9999


a

TypeError: 'tuple' object does not support item assignment

In [ ]:
    emp_name     emp_salary    emp-age     emp_adhar_no              emp_id
     
1    abc           523234         20         563254324523            emp_1
2    pqr           673563         29         267256725654            emp_2
3    xyz          3894324         30         783256732452            emp_3

# Set
- Anything that is written inside {} and each elements are seperated by ,

- Collection of unique values

In [54]:
a = {1,2,3,4,54,65}

print(a , type(a))

{65, 1, 2, 3, 4, 54} <class 'set'>

In [57]:
a = {'emp_1' , 'emp_2' , 'emp_1' , 'emp_3'}

print(a , type(a))

{'emp_2', 'emp_1', 'emp_3'} <class 'set'>

In [58]:
a = {1,2,3,4,5,2,1,2,3,3,1,2,3,1,2}

print(a , type(a))

{1, 2, 3, 4, 5} <class 'set'>

# Dict

- Anything that is written inside a {}
- It has a key and value pair

In [59]:
a = {'Name':'xyz' , 'Age' : 43 , 'Salary':5454654}


print(a , type(a))

{'Name': 'xyz', 'Age': 43, 'Salary': 5454654} <class 'dict'>

# Range

range(start , stop , step)

start is inclusive
stop is exclusive
step is 1

In [61]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list(range(5,11))

[5, 6, 7, 8, 9, 10]

In [63]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
0-50


multiples of 5

In [ ]:
0,5,10,15,......50

In [68]:
list(range(0,51,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [69]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
9,8,7,6,5,4,3,2,1,0

In [70]:
list(range(9,-1 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [71]:
list(range(10,0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
0-20 -- odd numbers

In [73]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [75]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Type casting

- converting one data type to another

- int()
- float()
- str()
- complex()
- bool()


####
- possible

- int - float 
- float - int 
- int - complex
- float - complex

- not possible
- complex - int 
- complex - float

In [78]:
# 1 way


a = 10


print(float(a) , type(float(a)))

10.0 <class 'float'>

In [79]:
print(a)

10

In [80]:
# 2 way


a = float(10)


print(a , type(a))

10.0 <class 'float'>

In [83]:

a = int(123.656)


print(a , type(a))

123 <class 'int'>

In [84]:

a = complex(10)


print(a , type(a))

(10+0j) <class 'complex'>

In [85]:

a = complex(10.23)


print(a , type(a))

(10.23+0j) <class 'complex'>

In [86]:

a = int(10+54j)


print(a , type(a))

TypeError: can't convert complex to int

In [88]:

a = float(10.54+54.65j)


print(a , type(a))

TypeError: can't convert complex to float

In [89]:

a = '10'


print(a , type(a))

10 <class 'str'>

In [91]:

a = int('10')


print(a , type(a))

10 <class 'int'>

In [92]:

a = int('10abc')


print(a , type(a))

ValueError: invalid literal for int() with base 10: '10abc'

In [93]:

a = int('123.456')


print(a , type(a))

ValueError: invalid literal for int() with base 10: '123.456'

In [94]:

a = float('123.456')


print(a , type(a))

123.456 <class 'float'>

In [95]:

a = int(float('123.456'))


print(a , type(a))

123 <class 'int'>

# Eval

In [96]:

a = eval('123')


print(a , type(a))

123 <class 'int'>

In [97]:

a = eval('123.456')


print(a , type(a))

123.456 <class 'float'>

In [98]:

a = eval('12+54j')


print(a , type(a))

(12+54j) <class 'complex'>

In [99]:

a = eval('True')


print(a , type(a))

True <class 'bool'>